*.iml
.gradle
.gradle-user/
.gradle-user-home*/
.android-user/
.android-user-home*/
.kotlin/
/local.properties
local.properties
.idea/
.DS_Store
/build
*/build/
/captures
.externalNativeBuild
.cxx
*.apk
!/redx.apk
!/redx-release.apk
!/redx-debug.apk
*.aab
*.apks
*.hprof
.env
.env.*
